
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{n.title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}">
</head>
<body>
    <form action="" method="POST" style="
    display: flex;
    height: 100%;">
    <div class="notatka">
        <div class="opcje">
            <form action="edit">
                <input type="submit" value="edytuj">
            </form> 
            <form action="delete/" method="post">
                {% csrf_token %}
                <input type="submit" value="usuń">
            </form>
        </div>
        <header>
            <input type="text" name="title" value="{{n.title}}" style="font-size: 150%;">
        </header>
        <main>
            <div class="info">
                <div style="display: flex;"><p class="author">{{n.author}}</p> <p class="date">{{n.creation_date}}</p></div>
            </div>

                {% csrf_token %}
                <textarea name="content" style="width: -webkit-fill-available;">{{n.content}}</textarea><br>
                <input type="submit" value="zapisz">
            
        </main>
        <footer>
            <a href="../">powrót</a>
        </footer>
    </div>
</form>
</body>
</html>