<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        nazwa:<br><input type="text" name="title" value="{{n.title}}"><br>
        content:<br><textarea name="content" cols="30" rows="10">{{n.content}}</textarea><br>
        <input type="submit" value="zapisz">
    </form>
</body>
</html>